[changelog]
header = ""
body = """
{% for group, commits in commits | group_by(attribute="group") %}
### {{ group | upper_first }}
{% for commit in commits %}
- {{ commit.message | split(pat="\n") | first | trim }}\
  {% if commit.scope %} *({{ commit.scope }})*{% endif %}\
  {% if commit.breaking %} **BREAKING**{% endif %}\
\n\
{%- endfor %}
{% endfor %}
"""
trim = true

[git]
conventional_commits = true
filter_unconventional = false
commit_parsers = [
  { message = "^feat", group = "Features" },
  { message = "^fix", group = "Bug Fixes" },
  { message = "^perf", group = "Performance" },
  { message = "^refactor", group = "Refactor" },
  { message = "^docs", group = "Documentation" },
  { message = "^ci", group = "CI" },
  { message = "^chore", skip = true },
  { body = ".*", group = "Other" },
]
tag_pattern = "v[0-9].*"
